.onSearch{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    gap: 20px;
}
.onSearch>input{
    font-size: 1.09em;
    padding: 5px 0;
    border: none;
    border-radius: 20px;
    outline: none;
    text-align: center;
}
.onSearch > button{
    font-size: 1.2em;
    padding: 5px 3px;
    background: rgb(33, 156, 33);
    border: none;
    outline: none;
    border-radius: 5px ;
}

.song-track{
  background: #121212;
 display: grid;
  gap: 2px;
}