*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-dashboard{
    background: #66DE93;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.bg-dashboard > .form-input{
    margin:  2em auto;

}
.form-input> input{
    border: 1.5px solid #1EAE98;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    padding: 3px 10px 3px 5px;
    font-family: monospace;
}
.song{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2px;
}