*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: #000;
    width: 100%;
    min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-left{
    background: white;
    height: 2em;
    width: 14.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.header-left>input{
    border: none;
    outline: none;
    padding: 7px 0;
    width: 15em;
    border-radius: 10px;
    background: none;
}

.header-right{
    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
}
.header-right > img{
    height: 100%;
    border-radius: 100%;
    margin-right:10px ;
}
.header-right > h4{
    flex: 1;
    color: white;
}
