*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 10em;
    padding-left: 10px;
    padding-right: 10px;

}

.pages{
    display: grid;
    color: white;
}
.navbar{
    width: 100%;
    height: 3em;
    background: #121212d2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content{
    width: 100%;
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.user{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
}
.user>p{
    margin: auto;
    text-align: center;
    font-family: monospace;
    
}
.user>img{
    height: 27px;
    width: 38px;
    margin: auto;
    border-radius: 90%;
}
::placeholder{
    font-size: 1.1em;
}
.search-bar> input{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 90px;
    font-size: 1.1em;
}


/* sidebar */
.content-page{
    display: flex;
    justify-content: space-between;
    background: #121212e0;
    width: 100%;
}
.sidebar{
    width: 25%;
    height: 100vh;
    background: #121212;
}
.list-playlist{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 10px;
    height: 100%;
    
}
.button-create{
    flex: 5;
    width: 90%;
    height: 50%;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 137, 137);
    border-radius: 10px;
}

.playlist{
    display: flex;
    flex: 9;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid white;

}
.card-playlist{
    margin: 0 auto;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    border: 1px solid white;
    font-family: monospace;

}
.card-playlist > h4{
    line-height: 1.5em;
    border-bottom: 1px solid white;
}
.card-playlist>p{
    height: 3em;
    line-height: 2em;
}

/*  */
.form{
    margin: auto 10px;
    padding: 20px 0;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
    margin: 4px auto;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}
.text-area{
    resize: none;
    margin: 4px auto;
    height: 4em;
    width: 16em;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.button{
    margin: auto;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #eaea;
    border-radius: 5px;
    background: green;
    color: white;
    font-family: monospace;
}
.button2{
    text-decoration: none;
    margin: auto;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #eaea;
    border-radius: 5px;
    background: green;
    color: white;
    border:none;
    font-family: monospace;
    cursor: pointer;
}

/* contents */
.contents{
    background: #121212;
    width: 74%;
    height: 100%;
}

/* card song */
/* .card-song{
    background: #121212;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    height: 5em;
    width: 100%;
    align-items: center;
    margin: 10px 10px;
    overflow: hidden;
    transition: 0.2s;
}
.card-song:hover{
    background: rgba(255,255,255,0.3);
}
.text-song{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex: 1;
} */
.artist{
    text-align: end;
    flex: 2;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.image{
    width: 30%;
    height: 100%;
    margin: 2px;
}
.image> img{
    width: 100%;
    height: 100%;
    margin: auto;
}
